body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-app {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.container-players {
  display: flex;
  gap: 20px;
}

.player {
  font-size: 20px;
}

.player-select {
  font-weight: bold;
}

.container-game {
  position: relative;
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 70px 70px 70px;
  margin: auto;
}

.chart {
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.container-game-final::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.info-winner-player {
  text-align: center;
}

.button-reset-game {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #1837d0;
  border: none;
  cursor: pointer;
}